{% extends 'base.html' %}
{% load static %}

{% block title %} {{ category.name }} {% endblock %}


{% block content %}
<section class="pt-0">
	<div class="container">
		<!-- Tabs and alert START -->
		<div class="row">
			<div class="bread-crumbs mt-2">
				<div class="">
					<ul class="bread-crumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
						<li class="bread-crumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						  <a class="bread-crumbs__link" href="/" itemprop="item">
							<span itemprop="name">Главная</span>
						  </a>
						  <meta itemprop="position" content="1">
						</li>
					  
						{% for cat in ancestors %}
						  <li class="bread-crumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
							<a class="bread-crumbs__link" href="{{ cat.get_absolute_url }}" itemprop="item">
							  <span itemprop="name">{{ cat.name|upper }}</span>
							</a>
							<meta itemprop="position" content="{{ forloop.counter|add:1 }}">
						  </li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<style>
				.bread-crumbs__list {
					display: flex;
					flex-wrap: wrap;
					margin: 0;
				
					margin-bottom: 8px;
					padding: 0;
					list-style-type: none;
				}
				.bread-crumbs__item {
					display: flex;
					align-items: center;
					margin-bottom: 8px;
				}
				.bread-crumbs__link {
					color: #999;
					font-weight: 700;
					font-size: 12px;
					text-transform: uppercase;
					letter-spacing: .01em;
				}

				.bread-crumbs__item::after {
					content: url('{% static 'images/tech/rigth.svg' %}');
					display: flex;
					align-items: center;
					margin: 0 9px;
					width: 7px;
					height: 10px;
					color: #d3d6db;
				}
			</style>

			<div class="col-12">
				<h3 style="color: #262a31; margin-bottom: 0px;">{{ category.name.upper }}<h3>
			</div>
		</div>
		<!-- Tabs and alert END -->

         <!-- БЛОК Дополнительно -->

        <div class="container mb-3 mt-1 p-0">
            <div class="categories">
				{% for category in similar_categories %}
					<a href="{{ category.get_absolute_url }}">
						<div class="category">
							<img style="border-radius: 10px;" src="{% if category.image %}{{ category.image.url }}{% else %}{% static 'images/tech/default.jpg' %}{% endif %}" 
								 alt="{{ category.name }}" />
							<span>{{ category.name }}</span>
						</div>
					</a>
				{% endfor %}
			</div>
        </div>
  
		<style>
			.categories {
			display: flex;
			overflow-x: auto;
			gap: 15px;
			white-space: nowrap;
			scrollbar-width: none;
			-ms-overflow-style: none;
			}
			.categories::-webkit-scrollbar {
			display: none;
			}
			.category {
			flex: 0 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			background: #f5f5f5;
			border-radius: 10px;
			text-align: center;
			min-width: 80px;
			}
			.icon-wrapper {
			width: 50px;
			height: 50px;
			background: #f5f5f5;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 5px;
			}
			.icon-wrapper svg {
			width: 24px;
			height: 24px;
			fill: #333;
			}
			.category img {
			width: 40px;
			height: 40px;
			margin-bottom: 5px;
			}
			.category span {
			font-size: 14px;
			color: #333;
			}
		</style>

		
	
      <!--  КОНЕЦ БЛОКА -->


		<div class="row">
			<!-- Left sidebar START -->
			<aside class="col-xl-4 col-xxl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
					<div class="offcanvas-header">
						<h5 class="offcanvas-title" id="offcanvasSidebarLabel">Фильтр</h5>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body flex-column p-3 p-xl-0">
						<form class="rounded-3 shadow">
							<!-- Hotel type START -->
							<div class="card card-body rounded-5 p-4">
								<!-- Title -->
								<h6 class="mb-3">Поиск</h6>
								<!-- Hotel Type group -->
								<div class="col-12">
									<!-- Checkbox -->
									<div class="form-check" style="padding-left: 0px;">
										<form method="get" id="search-form">
											<label class="search__label visible" style="outline: 1px solid #cacaca; border-radius: 7px; width: 100%;">
												<input type="text" name="search" class="search__input filter-aside__search"
													placeholder="32х4.5 мм P460N EN 10216-3..." autocomplete="off" style="border-radius: 7px; border: 1px solid #e2e6ed; color: #262a31; padding: 8px 40px 8px 8px; width: 100%;">
											</label>
										</form>
									</div>
									
								</div>
							</div>
							<!-- Hotel type END -->


							<div class="mt-3">
								<a href="#" data-bs-toggle="modal" data-bs-target="#LeadModal" class="d-flex align-items-center">
								  <div id="product-info" class="product-card d-flex align-items-center gap-3 w-100">
									<img id="product-photo" src="{% static 'images/download.webp' %}" alt="Труба" class="product-img" style="max-width: 100%; max-height: 300px; object-fit: contain;">
						  
									  <div class="d-flex flex-column justify-content-between w-100">
										  <div class="d-flex ">
											  <a href="#" data-bs-toggle="modal" data-bs-target="#LeadModal" class="d-flex align-items-center" style="color: black;">
												  <span>Прайс лист | 100К+ товаров</span>
											  </a>
										  </div>
										  <p id="product-meta" class="product-meta mb-0 mt-2">
											  <span class="product-status">В наличии</span>
										  </p>
									  </div>
								  </div>
								</a>
							</div>

		
							
							
							<!-- Amenities END -->
						</form><!-- Form End -->
					</div>
				
				</div>
				<!-- Responsive offcanvas body END -->
			</aside>
			<!-- Left sidebar END -->
			
			<!-- Main content START -->
			<div class="col-xl-8 col-xxl-9">
				<div class="hstack gap-3 justify-content-between justify-content-md-end">
					<!-- Filter offcanvas button -->
					<button class="btn btn-primary-check mb-0 d-xl-none w-100" style="background-color: #f5f5f5; color: black;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fa-solid fa-sliders-h me-1"></i> Фильтры
					</button>
					<!-- tabs -->
				</div>
                <div class="product-control__found mb-3 mt-3">Найдено <span
                    id="product-count">{{ products.count }}</span> товаров.
                </div>
				<div class="vstack " id="listing-table-target">
                    {% for product in products %}
					<div class="alert" style="border: 1px solid #e3e5e8; background-color: white; margin-bottom: 5px;">
						<div class="product-info" style="justify-content: space-between;">
						<div class="d-flex" style="align-items: center;">
							<img class="product-logo" src="{% if product.category.image %}{{ product.category.image.url }}{% else %}{% static 'images/tech/truba.webp' %}{% endif %}">
							<div class="product-name" style="margin-left: 10px;">
							<p style="margin: 0;">
								<a href="{{ product.get_absolute_url }}" style=" color: black;">{{ product.name }}</a>
							</p>
							</div>
						</div>
						<button 
							class="btn btn-sm btn-primary mb-0" 
							style="background-color: #f5f5f5; border: 1px solid #e3e5e8; color: #262a31;"
							data-bs-toggle="modal" 
							data-bs-target="#LeadModal" 
							data-product-name="{{ product.name }}" 
							data-product-url="{{ product.get_absolute_url }}"
							data-product-photo="{% if product.category.image %}{{ product.category.image.url }}{% else %}{% static 'images/tech/truba.webp' %}{% endif %}">
							Узнать цену
						</button>
						</div>
					</div>
					{% empty %}
					<p>Ничего не нашлось</p>
					{% endfor %}

            

                    <style>
						div#product-info {
							width: 90%;
							margin: 0 auto;
						}
						
                        .product-info {
							display: flex;
							align-items: center;
							gap: 15px;
						}

						.product-logo {
							width: 50px;
							height: 50px;
							
							color: white;
							display: flex;
							align-items: center;
							justify-content: center;
							font-size: 20px;
							font-weight: bold;
							border-radius: 10px;
						}

						.product-name {
							display: flex;
    						flex-wrap: wrap;
							font-size: 14px;
							font-weight: 600;
							color: #333;
							max-width: 100%;
							word-break: break-word;
						}

						@media (max-width: 768px) {
							.product-info {
								display: flex;
								align-items: center;
								justify-content: space-between; /* Оставляем кнопку справа */
								flex-wrap: nowrap; /* Запрещаем перенос кнопки */
								gap: 10px;
							}
						
							.product-name {
								flex: 1; /* Заставляет название занимать максимум доступного места */
								min-width: 0; /* Это важно для корректного сжатия */
								max-width: 70%; /* Регулируем, чтобы кнопка оставалась справа */
								word-break: break-word;
							}
						
							.btn {
								white-space: nowrap; /* Запрещает разрыв текста в кнопке */
								flex-shrink: 0; /* Запрещает уменьшать кнопку */
							}
						}
						
						
	
                    </style>

					<script>
						document.addEventListener("DOMContentLoaded", function () {
							const searchInput = document.querySelector("input[name='search']");
							const resultsContainer = document.getElementById("listing-table-target");
							const productCount = document.getElementById("product-count");
					
							if (searchInput) {
								searchInput.addEventListener("input", function () {
									const query = searchInput.value.trim();
									const url = new URL(window.location.href);
									url.searchParams.set("search", query);
					
									// AJAX-запрос без перезагрузки страницы
									fetch(url, { method: "GET", headers: { "X-Requested-With": "XMLHttpRequest" } })
										.then(response => response.text())
										.then(data => {
											const parser = new DOMParser();
											const newDocument = parser.parseFromString(data, "text/html");
											const newResults = newDocument.querySelector("#listing-table-target")?.innerHTML || "";
											const newCount = newDocument.querySelector("#product-count")?.textContent || "0";
					
											resultsContainer.innerHTML = newResults;
											productCount.textContent = newCount;
										})
										.catch(error => console.error("Ошибка при загрузке товаров:", error));
								});
							}
						});
					</script>

					<div class="container-xl mt-5">
						<div class="row p-0">
						  <div class="col-12 mb-3">
							<h4 class="about-company-bottom__title" style="color: #262a31;"><a href="{% url 'website:about' %}">{{ category.name }} </a></h4>
						  </div>
						  <div class="row">
							<div class="col-md-6 mb-2">
							  <p class="fw-bold" style="color: black;">"Центр стального проката" – надежный поставщик строительных материалов в Казахстане.  </p>
							  <p class="fw-bold" style="color: black;"> Что такое {{ category.name}} ?</p>
				  
							  <p style="color: black;">
								{% if category.about %}
									{{ category.about }}
								{% else %}
									Наши опытные менеджеры всегда готовы помочь с выбором продукции, подобрать оптимальное решение под ваши задачи и бюджет. Мы гарантируем качество материалов и своевременные поставки.
								{% endif %}
							</p>
							
							</div>
							<div class="col-md-6">
							  <ul class="list-unstyled">
								{% if subcategories %}
									<p style="color: black;">
										<b>{{ category.name }} имеет несколько подкатегорий, а именно:</b>
									</p>
								{% endif %}
								{% for subcategory in subcategories %}
									<!-- 3. Выводим название каждой подкатегории -->
									<li style="color: #032655;" class="mb-3">
										<span><b style="color: #032655; margin-right: 5px;">•</b></span>
										{{ subcategory.name }}  <!-- Выводим название подкатегории -->
									</li>
								{% empty %}
									<!-- 4. Сообщение, если подкатегорий нет -->
									<li>Нет подкатегорий</li>
								{% endfor %}
							</ul>
							
							</div>
						  </div>
						  
						</div>
					  </div>


					<div class="container my-3 p-0">
						<div class="rounded-5 p-5 text-white" style="background: linear-gradient(90deg, #1E3C72, #2A5298); position: relative;">
						  <h4 class="fw-bold text-white">Не нашли, что искали?</h4>
						  <p class="mb-4" style="color: #d2d2d2;">Оставьте Ваш телефон и мы перезвоним Вам для уточнения и расчета заказа</p>
					  
						  <button data-bs-toggle="modal" data-bs-target="#LeadModal" class="circle-button">
							<span class="arrow-up">↑</span>
						  </button>
						</div>

									  
						<style>
							/* Для мобильных устройств */
							@media (max-width: 768px) {
							  .p-5 {
								padding: 2rem !important;
							  }
							}
						  </style>
						  
					  
						<style>
								
						  .circle-button {
							width: 50px;
							height: 50px;
							border-radius: 50%;
							background-color: white;
							display: flex;
							justify-content: center;
							align-items: center;
							border: 2px solid black; /* Черная рамка */
							position: absolute;
							right: 20px;   /* Расстояние от правого края */
							transform: translateY(-50%); /* Центрирование по вертикали */
							cursor: pointer; /* Указатель при наведении */
						  }
					  
						  .arrow-up {
							font-size: 24px; /* Размер стрелки */
							color: black; /* Цвет стрелки */
							transform: rotate(45deg); /* Поворот стрелки на 45 градусов */
						  }
					  
						  .circle-button:hover {
							background-color: #f0f0f0; /* Светлый фон при наведении */
						  }
					  
						  .circle-button:focus {
							outline: none; /* Убираем рамку при фокусе */
						  }
						</style>
					  </div>
					  
					<style>
						.iti {
							position: relative;
							width: 100%;
							display: inline-block;
						}						
					</style>
		        

					<!-- Pagination -->
					<nav class="d-flex justify-content-center" aria-label="navigation">
						<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
							{% if page_obj.has_previous %}
								<li class="page-item mb-0">
									<a class="page-link" href="?page={{ page_obj.previous_page_number }}">
										<i class="fa-solid fa-angle-left"></i>
									</a>
								</li>
							{% endif %}
					
							{% for page in page_range %}
								{% if page == page_obj.number %}
									<li class="page-item mb-0 active">
										<a class="page-link" href="#">{{ page }}</a>
									</li>
								{% else %}
									<li class="page-item mb-0">
										<a class="page-link" href="?page={{ page }}">{{ page }}</a>
									</li>
								{% endif %}
							{% endfor %}
					
							{% if page_obj.has_next %}
								<li class="page-item mb-0">
									<a class="page-link" href="?page={{ page_obj.next_page_number }}">
										<i class="fa-solid fa-angle-right"></i>
									</a>
								</li>
							{% endif %}
						</ul>
					</nav>

					<style>
						.pagination-primary-soft .page-item.page-item.active .page-link {
							color: #fff;
							background-color: #032655;
						}
					</style>
					

				</div>
			</div>
			<!-- Main content END -->
		</div> <!-- Row END -->
	</div>
</section>
{% endblock %}