{% extends 'base.html' %}
{% load static %}

{% block title %} О компании {% endblock %}



{% block content %}
<div class="container mt-1 mb-3">
  <div class="hero">
      <h1>О нашей компании</h1>
      <p>Мы создаем инновационные решения для вашего успеха</p>
  </div>
</div>

<style>
  
  .hero {
      background-image: url('{% static 'images/kz.webp' %}');
      color: white;
      padding: 60px 20px; /* Уменьшил отступы */
      text-align: center;
      border-radius: 15px;
  }

  .hero h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
  }

  .hero p {
      font-size: 1.1rem;
  }

  .card {
      border: none;
      transition: transform 0.3s ease-in-out;
  }

  .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  /* Стили для мобильных устройств */
  @media (max-width: 768px) {
      .hero {
          padding: 40px 15px; /* Еще меньше отступов на мобильных */
      }
      .hero h1 {
          font-size: 2rem;
      }
      .hero p {
          font-size: 1rem;
      }
  }
</style>

<div class="container-xl mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-3">
      <h4 class="about-company-bottom__title" style="color: #262a31;"><a href="{% url 'website:about' %}">О компании</a></h4>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <p class="fw-bold" style="color: black;">"Центр стального проката" – надежный поставщик строительных материалов в Казахстане.  </p>
        <p>Мы специализируемся на комплексных поставках металлопроката и сопутствующих материалов для строительства, промышленности и других сфер.</p>

        <p>Наши опытные менеджеры всегда готовы помочь с выбором продукции, подобрать оптимальное решение под ваши задачи и бюджет. Мы гарантируем качество материалов и своевременные поставки.  </p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <p style="color: #032655;"><b>Наши преимущества:</b> </p>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Прямые контракты с производителями – лучшие цены. Работаем без посредников, получая специальные условия от заводов. Это позволяет предлагать вам выгодные цены без переплат.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Собственные склады в Казахстане – стабильность поставок. Материалы всегда в наличии в нужном регионе. Быстрая отгрузка – минимизируем простои на вашем объекте.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Собственный автопарк – быстрая и надежная логистика. Доставляем точно в срок без задержек. Контролируем сохранность груза на всех этапах.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Опыт и гарантии. Более 10 лет успешной работы в тендерах и коммерческих поставках. Это значит:
              <ul>
                  <li style="color: #032655;">Мы выполняем обязательства в полном объеме.</li>
                  <li style="color: #032655;">Гарантируем качество материалов и соблюдение сроков.</li>
              </ul>
          </li>
      </ul>
      
      </div>
      <p style="color: black;" class="fw-bold mt-2">Почему с нами удобно работать? </p><br> <br>
      <p>
        Выгодные цены – за счет прямых договоров с заводами.
        
        Стабильность – собственные склады и логистика.
        
        Надежность – проверено годами сотрудничества с крупными заказчиками.
        
        Нужны качественные стройматериалы с доставкой? Оставьте заявку – подберем оптимальное решение для вашего проекта!</p>
    </div>
    
  </div>
</div>


<section class="mb-5">
  <div class="container">
    <div class="p-4 p-md-5" style="background-color: #0d1e4b; border-radius: 27px;">
      <div class="row align-items-center">
        <!-- Левая часть -->
        <div class="col-lg-7 text-white mb-4 mb-lg-0">
          <h2 class="fw-bold text-white">Получите бесплатную<br>консультацию от нашего<br>специалиста</h2>
        </div>

        <!-- Правая часть: Форма -->
        <div class="col-lg-5">
          <div class="bg-white p-4 rounded-4 shadow-sm">
            <h5 class="mb-3">Оставьте свои контакты и мы свяжемся с вами</h5>
        
          
            <!-- Bitrix24 форма -->
            <script data-b24-form="inline/5/sbwncc" data-skip-moving="true">
              (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0);
                var h=d.getElementsByTagName('script')[0];
                h.parentNode.insertBefore(s,h);
              })(window,document,'https://cdn-ru.bitrix24.kz/b32852022/crm/form/loader_5.js');
            </script>
          </div>
        </div>
        
        <style>
          .product-card {
            display: flex;
            align-items: center;
            gap: 12px;
            background-color: #fff;
            padding: 16px;
            border-radius: 16px;
            border: 1px solid #e7e7e9;
            margin-bottom: 20px;
          }
        
          .product-img {
            width: 60px;
            height: 60px;
            border-radius: 12px;
            object-fit: cover;
          }
        
          .product-title {
            font-weight: 600;
            font-size: 16px;
            color: #212529;
            margin: 0;
            text-decoration: none;
          }
        
          .product-meta {
            font-size: 14px;
            color: #6c757d;
            margin: 0;
          }
        
          .product-status {
            color: #198754;
            font-weight: 500;
          }
        
          .b24-form {
            overflow: hidden !important;
          }
        
          .b24-form-header-padding {
            display: none;
          }
        
          .b24-form-wrapper.b24-form-border-bottom {
            border-bottom: 0px;
          }

          .b24-form-padding-side {
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 0px;
          }

          .b24-form-wrapper {
            min-height: 200px;
          }
        </style>

        
        
      </div>

      <!-- Контакты и менеджер -->
      
      <!-- Мобильная версия: фото, текст и иконки -->
      <div class="d-flex d-md-none align-items-center mt-4">
        <img src="{% static 'images/madina.jpeg' %}" alt="Менеджер Наталья" class="rounded-circle" width="60" height="60">
      
        <div class="ms-3">
          <small class="text-white-50">Ваш менеджер</small><br>
          <strong class="text-white">Мадина</strong>
        </div>
      
        <div class="d-flex gap-3 ms-auto">
          <!-- WhatsApp -->
          <a href="https://wa.me/77088009874" class="text-white text-decoration-none">
            <span class="d-inline-flex justify-content-center align-items-center rounded-circle bg-success" style="width: 40px; height: 40px;">
              <i class="bi bi-whatsapp text-white fs-5"></i>
            </span>
          </a>
      
          <!-- Телефон -->
          <a href="tel:+77088009874" class="text-white text-decoration-none">
            <span class="d-inline-flex justify-content-center align-items-center rounded-circle bg-success" style="width: 40px; height: 40px;">
              <i class="bi bi-telephone-fill text-white fs-5"></i>
            </span>
          </a>
        </div>
      </div>
      


      <!-- Десктопная версия: всё как раньше -->
      <div class="d-none d-md-flex flex-md-row justify-content-between align-items-center mt-4 gap-3">
        <div class="d-flex align-items-center">
          <img src="{% static 'images/madina.jpeg' %}" alt="Менеджер Наталья" class="rounded-circle me-3" width="60" height="60">
          <div>
            <small class="text-white-50">Ваш персональный менеджер</small><br>
            <strong class="text-white">Мадина</strong>
          </div>
        </div>

        <div class="d-flex flex-row gap-3 justify-content-end">
          <a href="https://wa.me/77088009874" class="text-white text-decoration-none d-flex align-items-center gap-2">
            <span class="d-inline-flex justify-content-center align-items-center rounded-circle bg-success" style="width: 36px; height: 36px;">
              <i class="bi bi-whatsapp text-white fs-5"></i>
            </span>
            +7 (708) 800 81 88
          </a>

          <a href="tel:+77088009874" class="text-white text-decoration-none d-flex align-items-center gap-2">
            <span class="d-inline-flex justify-content-center align-items-center rounded-circle bg-success" style="width: 36px; height: 36px;">
              <i class="bi bi-telephone-fill text-white fs-5"></i>
            </span>
            +7 (708) 800 81 88
          </a>
        </div>
      </div>


    </div>
  </div>
</section>


<style>
  .d-flex.flex-wrap.gap-4.justify-content-end {
    margin-right: 2%;
  }

  input[type="tel"] {
    border-left: 0;
  }
  
  .input-group-text {
    border-right: 0;
    border-color: #ced4da;
  }
  
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  

{% endblock %}