{% extends 'base.html' %}
{% load static %}

{% block title %} О компании {% endblock %}



{% block content %}
<div class="container mt-1 mb-3">
  <div class="hero">
      <h1>О нашей компании</h1>
      <p>Мы создаем инновационные решения для вашего успеха</p>
  </div>
</div>

<style>
  
  .hero {
      background-image: url('{% static 'images/kz.webp' %}');
      color: white;
      padding: 60px 20px; /* Уменьшил отступы */
      text-align: center;
      border-radius: 15px;
  }

  .hero h1 {
      font-size: 2.5rem;
      font-weight: bold;
      color: white;
  }

  .hero p {
      font-size: 1.1rem;
  }

  .card {
      border: none;
      transition: transform 0.3s ease-in-out;
  }

  .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  /* Стили для мобильных устройств */
  @media (max-width: 768px) {
      .hero {
          padding: 40px 15px; /* Еще меньше отступов на мобильных */
      }
      .hero h1 {
          font-size: 2rem;
      }
      .hero p {
          font-size: 1rem;
      }
  }
</style>

<div class="container-xl mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-3">
      <h4 class="about-company-bottom__title" style="color: #262a31;"><a href="{% url 'website:about' %}">О компании</a></h4>
    </div>
    <div class="row">
      <div class="col-md-6 mb-2">
        <p class="fw-bold" style="color: black;">"Центр стального проката" – надежный поставщик строительных материалов в Казахстане.  </p>
        <p>Мы специализируемся на комплексных поставках металлопроката и сопутствующих материалов для строительства, промышленности и других сфер.</p>

        <p>Наши опытные менеджеры всегда готовы помочь с выбором продукции, подобрать оптимальное решение под ваши задачи и бюджет. Мы гарантируем качество материалов и своевременные поставки.  </p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <p style="color: #032655;"><b>Наши преимущества:</b> </p>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Прямые контракты с производителями – лучшие цены. Работаем без посредников, получая специальные условия от заводов. Это позволяет предлагать вам выгодные цены без переплат.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Собственные склады в Казахстане – стабильность поставок. Материалы всегда в наличии в нужном регионе. Быстрая отгрузка – минимизируем простои на вашем объекте.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Собственный автопарк – быстрая и надежная логистика. Доставляем точно в срок без задержек. Контролируем сохранность груза на всех этапах.
          </li>
          <li style="color: #032655;" class="mb-3">
              <span><b style="color: #032655; margin-right: 5px;">•</b></span> Опыт и гарантии. Более 10 лет успешной работы в тендерах и коммерческих поставках. Это значит:
              <ul>
                  <li style="color: #032655;">Мы выполняем обязательства в полном объеме.</li>
                  <li style="color: #032655;">Гарантируем качество материалов и соблюдение сроков.</li>
              </ul>
          </li>
      </ul>
      
      </div>
      <p style="color: black;" class="fw-bold mt-2">Почему с нами удобно работать? </p><br> <br>
      <p>
        Выгодные цены – за счет прямых договоров с заводами.
        
        Стабильность – собственные склады и логистика.
        
        Надежность – проверено годами сотрудничества с крупными заказчиками.
        
        Нужны качественные стройматериалы с доставкой? Оставьте заявку – подберем оптимальное решение для вашего проекта!</p>
    </div>
    
  </div>
</div>
  

{% endblock %}